@use "@/styles/components/global.scss" as *;

.plinko-game-page {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // min-height: calc(100vh - 50px);
    min-height: calc(100vh - 0px);
    // padding: 1rem;

    --top-position: 0px;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: center;
        // background-color: rgb(160, 120, 73);
    }

    &.fullscreen {
        --top-position: 0px;
    }

    &.show-sidebar {
        .menu-card {
            @include media-breakpoint-up(lg) {
                overflow: auto;
                display: initial;
                // position: fixed;
                // bottom: 0;
                // left: 0;
                // top: 50px;
                flex-shrink: 0;
                width: 300px;
                // margin: 1rem;
                padding: 1rem;
                font-size: 0.8rem;
                height: calc(100vh - var(--top-position));
            }
        }

        .menu-bar {
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    .background {
        // background-repeat: repeat;
        // opacity: 0.25;
        background-size: cover;
        // background-size: 500px;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // filter: blur(10px);
    }

    #toggle-sidebar-button {
        position: relative;

        #size-warning {
            position: absolute;
            top: initial;
            bottom: -10px;
            right: -10px;
            font-size: 0.6rem;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    .canvas-three-wrap {
        border: 1px solid #000;
        background-color: white;
        margin-bottom: 3rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        // height: calc(100vh - 50px - var(--top-position));
        width: 100%;

        canvas {
            height: 100%;
            width: 100%;
        }
    }

    .canvas-flat-wrap {
        position: relative;
        width: 100%;
        max-width: 1400px;

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            // height: 500px;
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            display: block;
            z-index: 1;
            border: 2px solid rgb(0 0 0 / 47%);
        }
    }

    canvas.fill {
        background-color: rgb(255 255 255 / 35%);
        position: initial !important;
    }

    .menu-card {
        background-color: var(--card-background-75);
        border-bottom: 1px solid black;

        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: fixed;
            // width: 100%;
            height: calc(100vh - 50px);
            // height: calc(100vh - 30%);
            overflow-y: auto;
            // top: var(--top-position);
            bottom: 50px;
            // left: 50px;
            // right: 50px;
            left: 0;
            right: 0;
            transform: translateY(110%);
            transition-duration: 200ms;
            z-index: 10;
        }

        &.no-sidebar {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: fixed;
            // width: 100%;
            height: calc(100vh - 50px);
            // height: calc(100vh - 30%);
            overflow-y: auto;
            // top: var(--top-position);
            bottom: 50px;
            // left: 50px;
            // right: 50px;
            left: 0;
            right: 0;
            transform: translateY(110%);
            transition-duration: 200ms;
            z-index: 10;
        }

        &.sidebar {

            // display: flex;
            // flex-direction: column;
            // justify-content: flex-end;
            // position: fixed;
            // // width: 100%;
            // height: calc(100vh - 100px);
            // height: calc(100vh - 30%);
            // overflow-y: auto;
            // // top: var(--top-position);
            // bottom: 50px;
            // left: 50px;
            // right: 50px;
            // transform: translateY(110%);
            // transition-duration: 200ms;
            // z-index: 10;
            // @include media-breakpoint-up(lg) {
            //     display: none;
            // }
        }

        // @include media-breakpoint-up(lg) {
        //     display: none;
        // }

        .wrap {
            padding: 1rem;
            overflow-y: auto;
            max-width: 400px;
            margin: 0 auto;

            @include media-breakpoint-up(lg) {
                padding: 0.5rem;
                padding-bottom: 50px;
            }

            &::-webkit-scrollbar {
                width: 10px;
                // background-color: #04abf4;
                background-color: #ffdf01;
            }

            &::-webkit-scrollbar-thumb {
                // background-color: #01628b;
                background-color: #e48019;
                border-radius: 5px;
                box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
            }
        }

        &.show {
            transform: translateY(0%);
        }

        .camera-controls {
            display: grid;
            grid-gap: 5px 5px;
            grid-template-columns: repeat(2, 1fr);
        }

        .card-header {
            display: flex;
            align-items: center;

            h6 {
                font-size: 0.8rem;
            }

        }

    }

    .menu-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.1rem 0.5rem;

        // @include media-breakpoint-up(lg) {
        //     display: none;
        // }

        .redeem-buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                flex-shrink: 0;
            }

            @include media-breakpoint-down(lg) {
                transform: scale(0.95);
                position: absolute;
                top: -50px;
                left: 0;
                right: 0;
            }

        }
    }

    .game-content {
        z-index: 1;

        // width: calc(100% - 300px);
        width: 100%;

        // position: absolute;
        // left: 0;
        // top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: calc(100vh - var(--top-position));
        // margin-right: 1rem;

        @include media-breakpoint-up(lg) {
            height: calc(100vh - var(--top-position));
        }

        .lobby-screen {
            position: absolute;
            width: 100%;
            height: calc(100vh - var(--top-position) - 50px);
            top: 0px;
            // bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 2;

            .lobby-screen-blur {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(8px);
                bottom: 0px;
            }
        }

        .lobby-card {
            @include shadow-articles;
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            margin-top: 1rem;

            @include media-breakpoint-up(lg) {
                margin-top: 3rem;
            }

            // position: absolute;
            // top: 1rem;
            // left: 1rem;
            // right: 1rem;

            // .dropdown-menu {
            //     transform: translate(0px, 39px)!important;
            //     border-radius: 0;
            //     width: 100%;
            //     border-bottom: 3px solid var(--articles-primary-color);

            //     .dropdown-item {
            //         padding: 0.375rem 1rem;

            //         &:active {
            //             color: black;
            //             background-color: var(--articles-secondary-color);
            //         }
            //     }
            // }
        }

        .info-controls {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            // transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            padding: 0 0.5rem;

            .timer {
                display: flex;
                align-items: center;
            }
        }

        .lobby-card {
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .timer {
                background-color: var(--card-background);
                // width: 50px;
                // height: 50px;
                padding: 0.25rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: white;
                // @include shadow-articles;
                // border: 2px solid #000;
            }

            .buttons {
                position: relative;
                display: flex;

                button {
                    @include shadow-articles;
                    // width: 50%;

                    // @include media-breakpoint-up(lg) {
                    //     width: initial;
                    // }
                }
            }
        }
    }

    .ad-wrap {
        display: none;
    }

}